//Mixins 
@mixin heading-font {
    font-family: 'Arvo', serif;
} 
@mixin paragraph-font {
    font-family: 'DM Sans', sans-serif;
} 

@mixin header-settings {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@mixin footer-settings {
     background: rgb(248, 193, 91);
     text-align: center;
     padding-top: 1vw;
}
//Variabler
$design-background: #E6AA68;
$develop-background: #D3E298;




//Styling för hela sidan oavsett skärmstorlek
h1, h2, h3, h4{
    @include heading-font;
}

.container {
    @include paragraph-font;
}

cite {
    font-style: italic;
}

a {
    text-decoration: none;
}


//Mobile first 
@media (max-width: 600px){
    .container {
        display: flex;
        flex-direction: column;
    }

    header {
        height: 100px; //ändra detta till vw eller kanske em? läs på!
        width: 100%
    }

    .header-image {
        display: none;
    }

    .header-mobile {
        @include header-settings;
    }
    
    blockquote {
        font-size: 3vw;
    }
    
    .cookie-pic {
        width: 100%;
        padding: 3vw 0vw 3vw 0vw; 
    }

    div {
        margin: 3vw;

        .list {//kanske en mixin här också?
            border-radius: 10vw;
            padding: 3vw;
            h4 {
                text-align: center;
            }
        }

        .design {
            background: $design-background;
        }

        .develop {
            background: $develop-background;
        }
    }
    hr{
        width: 90%;
    }

    a:link{
        color: black;
    }

    a:visited {
        color: rgb(7, 33, 88);
    }

    footer {
        @include footer-settings;
        height: 35vw;
        margin: 0vw -6vw -6vw -6vw;
   
        a {
            line-height: 6vw;
        }
    }
}

//Desktop - behöver jag en media query för detta? googla mobile first och justera i enlighet. 
@media (min-width: 601px){
    .header-mobile {
        display: none;
    }

    header {
        width: 100%;
        height: 300px; //ändra även här
    }

    .header-image {
        @include header-settings;
    }

    body {
        display: flex;
        flex-direction: column;//gör en mixin för detta
        align-items: center;
        background: rgb(226, 221, 221);

        .container {
            display: flex;//mixin
            flex-direction: column;
            align-items: center;
        }
    }

    .content-wrapper {
        background: white; 
        width: 75%;
        margin: 0% 25%;

        hr {
            width: 80%;
        }
    }

    article {
        div {
            margin: 5% 10%;
        }

        img {
            width: 40%;
            margin: 2vw 2vw 2vw 0vw;
            float: left;
        }
    }

   
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 5%;

        div {
            width: 30%
        }

        .list{
            border-radius: 5vw;
            padding: 3vw;
            line-height: 2vw;
        }

        li {
            margin: 2vw 0vw;
        }

        .design {
            background: $design-background; 
        }

        .develop {
            background: $develop-background;
        }
    }

    
    footer {
        br {
            display: none;
        }
        
        @include footer-settings;
        height: 10vw;
        width: 100%;

        a {
            background: white;
            border-radius: 5vw;
            padding: 1vw;
            margin: 2vw;
        }

        a:hover {
            background:rgb(204, 92, 0);
            color: white;
        }

        a:visited {
            color:rgb(7, 33, 88);
        }

    }

}