h1, h2, h3, h4 {
  font-family: 'Arvo', serif;
}

.container {
  font-family: 'DM Sans', sans-serif;
}

cite {
  font-style: italic;
}

a {
  text-decoration: none;
}

@media (max-width: 600px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header {
    height: 100px;
    width: 100%;
  }
  .header-image {
    display: none;
  }
  .header-mobile {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  blockquote {
    font-size: 3vw;
  }
  .cookie-pic {
    width: 100%;
    padding: 3vw 0vw 3vw 0vw;
  }
  div {
    margin: 3vw;
  }
  div .list {
    border-radius: 10vw;
    padding: 3vw;
  }
  div .list h4 {
    text-align: center;
  }
  div .design {
    background: #E6AA68;
  }
  div .develop {
    background: #D3E298;
  }
  hr {
    width: 90%;
  }
  a:link {
    color: black;
  }
  a:visited {
    color: #072158;
  }
  footer {
    background: #f8c15b;
    text-align: center;
    padding-top: 1vw;
    height: 35vw;
    margin: 0vw -6vw -6vw -6vw;
  }
  footer a {
    line-height: 6vw;
  }
}

@media (min-width: 601px) {
  .header-mobile {
    display: none;
  }
  header {
    width: 100%;
    height: 300px;
  }
  .header-image {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #e2dddd;
  }
  body .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-wrapper {
    background: white;
    width: 75%;
    margin: 0% 25%;
  }
  .content-wrapper hr {
    width: 80%;
  }
  article div {
    margin: 5% 10%;
  }
  article img {
    width: 40%;
    margin: 2vw 2vw 2vw 0vw;
    float: left;
  }
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 5%;
  }
  section div {
    width: 30%;
  }
  section .list {
    border-radius: 5vw;
    padding: 3vw;
    line-height: 2vw;
  }
  section li {
    margin: 2vw 0vw;
  }
  section .design {
    background: #E6AA68;
  }
  section .develop {
    background: #D3E298;
  }
  footer {
    background: #f8c15b;
    text-align: center;
    padding-top: 1vw;
    height: 10vw;
    width: 100%;
  }
  footer br {
    display: none;
  }
  footer a {
    background: white;
    border-radius: 5vw;
    padding: 1vw;
    margin: 2vw;
  }
  footer a:hover {
    background: #cc5c00;
    color: white;
  }
  footer a:visited {
    color: #072158;
  }
}
/*# sourceMappingURL=style.css.map */